.ListOfNames {
  display: flex;
  gap: 30px;
  background-color: aliceblue;
  max-width: 800px;
  padding: 10px;
  flex-wrap: wrap;
}
.ListOfNames li {
  display: flex;
  gap: 10px;
  width: 200px;
  height: 100px;
  justify-content: space-around;
  flex-direction: column;
}
